<!-- 입고QC -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>예약 해제 대상</title>
    <style>
        body, html {
            height: 100%;
            margin: 0; 
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .navbar {
            background-color: white;
            color: white;
            padding: 20px 0;
            text-align: center;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1000;
        }

        .navbar .logo {
            width: 200px;
            height: auto;
        }

        .input-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 5vh;
            width: 30vh;
            background-color: skyblue;
            position: fixed;
            top: 100px;
        }
    
        #inputBox {
            padding: 10px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            width: 300px;
        }

        .data-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
        }

        .grid-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 1px;
        }

        .grid-header,
        .grid-row {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
        }

        .grid-header div,
        .grid-row div {
            border : 1px solid #ccc;
            padding: 10px;
            text-align: center;
            min-width: 300px;
            font-size: 10px;
        }

        .grid-header {
            background-color: white;
            font-weight: bold;
        }

        .grid-row:nth-child(even) {
            background-color: #f2f2f2;
        }

        .grid-row:first-child {
            background-color: #FF5733;
        }
    
        /*반응형 ui*/
        @media only screen and (max-width: 600px) {
            /* 모바일 */
            .icon-container{
                flex-direction:column;
                align-items:center;
            }

            .icon-box {
                width: 300px;
                height: 150px;
                margin: 10px 0;
            }
    
            .icon-text {
                font-size: 20px;
            }

            .grid-header div,
            .grid-row div {
                padding: 5px;
                min-width: 110px;
                min-height: 15px;
                font-size: 3.5px;
            }

            .grid-header {
                font-size: 7px;
            }
        }

            .dismiss-button {
                margin-top: 50px;
                position: fixed;
                top: 60px;
                left: 50%;
                transform: translateX(-50%);
            }

            .dismiss-link {
                display: inline-block;
                background-color: #4400ff;
                color: white;
                padding: 10px 20px;
                border-radius: 5px;
                text-decoration: none;
                font-weight: bold;
            }

            .dismiss-link:hover {
                background-color: #4400ff;
            }
    </style>
</head>
<body>
    <!-- navbar -->
    <div class="navbar">
        <a href="/main"><img class="logo" src="https://pds.saramin.co.kr/company/logo/202203/08/r8etng_ipfy-1p4vv0n_logo.png" alt="하모니로고"/></a>
    </div>


    <!-- 예약해제목록 버튼 -->
    <div class="dismiss-button">
        <a href="../dismissed" class="dismiss-link">예약 해제</a>
    </div>

<!-- 데이터 출력 -->
<p style="color: red; font-size: 9px; margin-bottom: 10px;">**자산번호를 더블클릭 하시면 예약취소 됩니다**</p>
<div class="data-container">
    <% if (data && data.length) { %>
        <!-- 스키마 내용 출력 -->
        <div class="grid-row">
            <div>자산번호</div>
            <div>차량번호</div>
            <div>모델명</div>
        </div>
        <!-- 실제 데이터 출력 -->
        <% data.forEach(item => { %>
            <div class="grid-row">
                <div class="AssetNo" ondblclick="sendRequest('<%= item.AssetNo %>')"><%= item.AssetNo %></div>
                <div><%= item.carNo %></div>
                <div><%= item.modelName %></div>
            </div>
        <% }) %>
    <% } else { %>
        <p>존재하는 예약차량 데이터가 없습니다.</p>
    <% } %>
</div>

    <script src="dismissing.js"></script>
</body>
</html>
